.cp {
  cursor: pointer;
}
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-120 {
  width: 120px;
}
.w-130 {
  width: 130px;
}
.w-400 {
  width: 400px;
}
.w-350 {
  width: 350px;
}
.w-250 {
  width: 250px;
}
.h-30{
  height: 30px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-all-10 {
  margin: 10px;
}
.m-all-5 {
  margin: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.f-s-25 {
  font-size: 25px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}

.f-r {
  float: right;
}